* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.produtos {
    max-width: 640px;
    margin: 56px auto;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-column-gap: 1%;

    .produto {
        &__imagem {
            width: 100%;
        }

        &__nome {
            font-size: 1.2em;
            margin: 8px 0;
            color: blue;
        }

        &__descricao {
            color: gray;
        }

        &--destaque {
            border: 2px solid gold;
            padding: 8px;
            background-color: #ffff42;
        }
    }
}
